.breathe-title {
	position: fixed;
	bottom: 5rem;
	left: 50%;
	color: #ecf0f1;
	text-shadow: 0 0.1em 0.3em rgb(0 0 0 / 50%);
	font-size: 1rem;
	user-select: none;
	animation: 2s linear 0s infinite alternate breathe;
	transform: translateX(-50%);
	@keyframes breathe {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 0.5;
		}
	}
}
